[Desktop Entry]
Encoding=UTF-8
Exec=/opt/franz-{{ franz_version }}/Franz
Icon=/opt/franz-{{ franz_version }}/resources/app.asar.unpacked/assets/franz.png
Type=Application
Terminal=false
Comment=Franz Chat Client
Name=Franz
GenericName=franz {{ franz_version }}
StartupNotify=false
Categories=Internet;Chat;Messaging